body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items to the top */
    max-width: 30vh;
}

.main {
    flex: 1;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow-x: auto; /* Allow horizontal scrolling if needed */
    display: flex;
    flex-direction: column;
}

.upload-container {
    display: flex;
    align-items: center;
}

.upload-label {
    cursor: pointer;
    display: block;
    background-color: #4caf50; /* Green color for Upload File button */
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    width: 100%; /* Match width to other buttons */
    margin-bottom: 10px;
    max-width: 11vw;
}

.upload-label:hover {
    background-color: #45a049; /* Darker green on hover */
    transition: background-color 0.3s ease;
}

input[type="file"] {
    display: none;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px; /* Add spacing between buttons */
}

#generateButton {
    background-color: #ff4444; /* Red color for Generate Schedule button */
}

#generateButton:hover {
    background-color: #cc0000; /* Darker red on hover */
    transition: background-color 0.3s ease;
}

#importGoogleCalendarButton {
    background-color: #4285f4; /* Blue color for Import to Google Calendar button */
}

#importGoogleCalendarButton:hover {
    background-color: #1a73e8; /* Darker blue on hover */
    transition: background-color 0.3s ease;
}

#loginToGoogle {
    background-color: #ff9400; /* Blue color for Import to Google Calendar button */
}

#loginToGoogle:hover {
    background-color: #dd8202; /* Darker blue on hover */
    transition: background-color 0.3s ease;
}

#calendarContainer {
    margin-top: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

#calendarTable {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100%; /* Make the table height 100% */
}

#calendarTable th,
#calendarTable td {
    border: 1px solid #ddd; /* Add borders to cells */
    padding: 8px;
    text-align: left;
}

#calendarTable th {
    background-color: #f2f2f2;
}

#calendarTable td {
    min-width: 150px;
    font-size: 14px;
    height: calc(100% / 6); /* Make each row equally divide the available height */
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px; /* Adjust spacing */
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-right: 10px; /* Adjust spacing */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

#quarterLabel {
    font-size: 16px;
    color: #555;
}

